
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <title>SPY Objects</title>

    <link rel="stylesheet" href="index.css">
</head>
<body>
<span id="head-title">
           Шпионские устройства
        </span>
<img id="imge" src="f_logo.jpg" alt="logo"><br>
<span id="head-author">
            Работу выполнили Сторожева Дарья и Ярошевский Максим
        </span>
<br>


</div>
<div class="main">

    <form id="main-form"  method="get">
        <h1>Реализуем функцию</h1>


        <label>
            <input type="radio" name="table" value="Добавление">Добавление человека<br>
        </label>
        <label>
            <input type="radio" name="table" value="Безопасность_места">Проверка безопасности места для встречи<br>
        </label>
        <label>
            <input type="radio" name="table" value="Проверка">Проверка на устройства<br>
        </label>

        <label>
            <input type="radio" name="table" value="Обновление">Обновление устройства передатчика<br>
        </label>

    </form>

</div>

<div >
    <iframe name="result_frame" height="120" width="700" id="result_frame"
            allowtransparenc frameborder="no" scrolling="no" seamless style="display:none"></iframe>

</div>



</div>

</body>
</html>
