
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <title>SPY Objects</title>

    <link rel="stylesheet" href="index.css">
</head>
<body>
<script src="jquery-3.5.1.js"></script>
<span id="head-title">
           Шпионские устройства
        </span>
<img id="imge" src="f_logo.jpg" alt="logo"><br>
<span id="head-author">
            Работу выполнили Сторожева Дарья и Ярошевский Максим
        </span>
<br>

<div class="main">
        <h1>Что делаем?</h1>


        <label>
            <input type="radio" name="table" value="thirst">Смотрим кто больше всех наблюдает?<br>
        </label>
        <label>
            <input type="radio" name="table" value="second">Проверяем безопасность места предположительной встречи?<br>
        </label>
        <label>
            <input type="radio" name="table" value="third">Проверяем какие устройства поставили всякие недоброжелатели?<br>
        </label><br/>
    <label>При проверке мест не забудем ввести местоположение(Если забудете вы, то мы сами их введем)</label>
            <input type="text" id="x" placeholder="x"><br/><br/>
            <input type="text" id="y" placeholder="y"><br/><br/>
            <input type="text" id="z" placeholder="z"><br/><br/>
    <button class="index_button" onclick="dothis();">Сделать!</button>
</div>

<button class="index_button"><a class ="link_style" href="/">Назад</a></button>

<p>

</p>
<div id="result" style="color: white;">

</div>

<script>
    var dattt;
    function check(){
        let table;
        let radios = document.getElementsByName("table");
        for (let i=0; i < radios.length; i++){
            if (radios[i].checked){
                table = radios[i].value;
            }
        }
        return table;
    }
function dothis() {
    let func = check();
    if (!document.getElementById("x").value){
        document.getElementById("x").value = 0;
    }
    if (!document.getElementById("y").value){
        document.getElementById("y").value = 0;
    }
    if (!document.getElementById("z").value){
        document.getElementById("z").value = 0;
    }
    if (func === "thirst"){
        $.ajax({
            url: '/Func/thirst',
            method: 'post',
            dataType: 'json',
            data: {},
            success: function (data) {
                console.log(data);
                dattt = data;
                for (k in data["content"][0]){
                    console.log(data["content"][0][k]);
                }
                let table = document.createElement("table");
                if (document.getElementById("answer")) {
                    document.getElementById("answer").remove();
                }
                table.id = "answer";
                let headers = document.createElement("tr");
                headers.id = "table-headers";
                let s = "";
                s = s + "<th>Страна</th><th>Количество устройств</th>";
                headers.innerHTML = s;
                document.getElementById("result").appendChild(table);
                table.appendChild(headers);
                    let st = "";
                    let row = document.createElement("tr");
                    for (k in data["content"][0]) {
                        st = st + "<td>" + data["content"][0][k] + "</td>";
                    }
                    row.innerHTML = st;
                    table.appendChild(row);

            }
        });
    }else if (func === "second"){
        $.ajax({
            url: '/Func/second',
            method: 'post',
            dataType: 'json',
            data: {x: document.getElementById("x").value, y: document.getElementById("y").value, z: document.getElementById("z").value},
            success: function (data) {
                if (document.getElementById("answer")){
                    document.getElementById("result").removeChild(document.getElementById("answer"));
                }
                let p = document.createElement("p");
                p.id = "answer";
                p.innerHTML = "<h1 style='color: white'>"+data+"</h1>";
                document.getElementById("result").appendChild(p);
            }
        });
    } else if (func === "third"){
        $.ajax({
            url: '/Func/third',
            method: 'post',
            dataType: 'json',
            data: {x: document.getElementById("x").value, y: document.getElementById("y").value, z: document.getElementById("z").value},
            success: function (data) {
                console.log(data);
                dattt = data;
                let table = document.createElement("table");
                if (document.getElementById("answer")) {
                    document.getElementById("answer").remove();
                }
                table.id = "answer";
                let headers = document.createElement("tr");
                headers.id = "table-headers";
                let s = "";
                    s = s + "<th>Модель</th><th>Тип</th><th>Частота</th>";
                headers.innerHTML = s;
                document.getElementById("result").appendChild(table);
                table.appendChild(headers);
                for (let i=0; i<data.length; i++){
                    let s = "";
                    let row = document.createElement("tr");
                    for (k in data[0]){
                        s = s + "<td>" + data[i][k] + "</td>";
                    }
                    row.innerHTML = s;
                    table.appendChild(row);
                }
            }
        });
    }
}
</script>

</body>
</html>
