<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <title>SPY Objects</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<script src="jquery-3.5.1.js"></script>
<span id="head-title">
           Шпионские устройства
</span>
<img id="imge" src="f_logo.jpg" alt="logo"><br>
<span id="head-author">
            Работу выполнили Сторожева Дарья и Ярошевский Максим
</span>


<br>
<div class="main">
        <h1>Что делаем?</h1>


        <label>
            <input type="radio" name="table" value="thirst">Смотрим кто больше всех наблюдает?<br>
        </label>
        <label>
            <input type="radio" name="table" value="second">Проверяем безопасность места предположительной встречи?<br>
        </label>
        <label>
            <input type="radio" name="table" value="third">Проверяем какие устройства поставили всякие недоброжелатели?<br>
        </label><br/>
    <label>При проверке мест не забудем ввести местоположение(Если забудете вы, то мы сами их введем)</label>
            <input type="text" id="x" placeholder="x"><br/><br/>
            <input type="text" id="y" placeholder="y"><br/><br/>
            <input type="text" id="z" placeholder="z"><br/><br/>
    <button class="index_button" onclick="dothis();">Сделать!</button>
</div>

<button class="index_button"><a class ="link_style" href="/">Назад</a></button>

<p>

</p>
<div id="result" style="color: white;">

</div>

<script src="functions.js">

</script>

</body>
</html>
