<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <title>SPY Objects</title>

    <link rel="stylesheet" href="index.css">
</head>
<body>
<span id="head-title">
           Шпионские устройства
        </span>
<img id="imge" src="f_logo.jpg" alt="logo"><br>
<span id="head-author">
            Работу выполнили Сторожева Дарья и Ярошевский Максим
        </span>
<br>


</div>
<div class="main">


    <form id="main-form"  method="get">
        <p></p>

        <button class="index_button"><a class ="link_style"href="/Main">Работа с функциями</a></button>    <button class="index_button"> <a class ="link_style" href="/Main">Работа с данными</a></button>
    </form>

    </form>
</div>



</body>
</html>


