
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <title>SPY Objects</title>

    <link rel="stylesheet" href="index.css">
</head>
<body>
<script src="jquery-3.5.1.js"></script>
<span id="head-title">
           Шпионские устройства
        </span>
<img id="imge" src="f_logo.jpg" alt="logo"><br>
<span id="head-author">
            Работу выполнили Сторожева Дарья и Ярошевский Максим
        </span>
<br>


<div class="main">
        <h1>Работа с данными</h1>
        <h1>Какую таблицу выбираем?</h1>
            <input type="radio" name="table" value="People">Люди<br/><br/>
            <input type="radio" name="table" value="ManDo">Человек_Установщик<br/><br/>
            <input type="radio" name="table" value="GadgetsFrom">Устройства_Передатчики<br/><br/>
            <input type="radio" name="table" value="GadgetsTo">Устройства_Приемники<br/><br/>
            <input type="radio" name="table" value="PlaceCom">Место_Расположения<br/><br/>
            <input type="radio" name="table" value="Company">Организация<br/><br/>
            <input type="radio" name="table" value="Country">Страны<br/><br/>
            <input type="radio" name="table" value="ManSee">Наблюдаемый<br/><br/>
            <input type="radio" name="table" value="TypesOfCompanies">Типы_организаций<br/><br/>
            <input type="radio" name="table" value="PlaceDo">Место_установки<br/><br/>
            <input type="radio" name="table" value="TypesOfGadgets">Типы_установленных_устройств<br/><br/>

    <button id="select" class="index_button" onclick="select();">Показать Данные</button>
    <button id="add" class="index_button" onclick="add();">Добавить</button>
    <button id="update" class="index_button" onclick="update();">Редактировать</button>
    <button id="delete" class="index_button" onclick="del();">Удалить</button>
    <button class="index_button"><a class ="link_style" href="/">Назад</a></button>
    <button id="send" class="index_button" onclick="send();">Отправить</button>

    <div class="main">

    </div>

            <input class="input" type="text" name="id" placeholder="id" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="name" placeholder="name" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="surname" placeholder="surname" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="country" placeholder="country" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="danger" placeholder="danger" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="type" placeholder="type" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="description" placeholder="description" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="function" placeholder="function" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="job" placeholder="job" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="company" placeholder="company" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="x" placeholder="x" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="y" placeholder="y" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="z" placeholder="z" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="model" placeholder="model" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="frequency" placeholder="frequency" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="manDo" placeholder="manDo" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="placeDo" placeholder="placeDo" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="gadgets" placeholder="gadgets" hidden="hidden"><br/><br/>
            <input class="input" type="text" name="place" placeholder="place" hidden="hidden"><br/><br/>


</div>


<script>
    function isString(val) {
        return (typeof val === "string" || val instanceof String);
    }

    function check(){
        let table;
        for (let k=0; k<document.getElementsByClassName("input").length; k++){
            document.getElementsByClassName("input")[k].setAttribute("hidden","hidden");
        }
        let radios = document.getElementsByName("table");
        for (let i=0; i < radios.length; i++){
            if (radios[i].checked){
                table = radios[i].value;
            }
        }
        return table;
    }

    function update() {
        let table = check();
        let table1 = document.createElement("p");
        if (document.getElementById("result-table")) {
            document.getElementById("result-table").remove();
        }
        table1.id="result-table";
        table1.value = "Update";
        document.getElementsByClassName("main")[1].appendChild(table1);
        unhid(table);
    }

    function add() {
        let table = check();
        let table1 = document.createElement("p");
        if (document.getElementById("result-table")) {
            document.getElementById("result-table").remove();
        }
        table1.id="result-table";
        table1.value = "Add";
        document.getElementsByClassName("main")[1].appendChild(table1);
        unhid(table);
    }

    function del() {
        let table = check();
        let table1 = document.createElement("p");
        if (document.getElementById("result-table")) {
            document.getElementById("result-table").remove();
        }
        table1.id="result-table";
        table1.value = "Delete";
        document.getElementsByClassName("main")[1].appendChild(table1);
        unhid(table);
    }

    function send() {
        let table = check();
        let url = "/"+document.getElementById("result-table").value+"/" + table;
        if (table === "Company"){
            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json',
                data: {id: document.getElementsByName("id")[0].value, country: document.getElementsByName("country")[0].value, function: document.getElementsByName("function")[0].value, name: document.getElementsByName("name")[0].value, type: document.getElementsByName("type")[0].value},
                success: function (data) {
                    console.log("123");

                }
            });
        }else if (table === "Country"){
            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json',
                data: {country: document.getElementsByName("country")[0].value, danger: document.getElementsByName("danger")[0].value},
                success: function (data) {
                    console.log("123");

                }
            });
        }else if (table === "GadgetsFrom"){
            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json',
                data: {id: document.getElementsByName("id")[0].value, model: document.getElementsByName("model")[0].value, manDo: document.getElementsByName("manDo")[0].value,
                        placeDo: document.getElementsByName("placeDo")[0].value, type: document.getElementsByName("type")[0].value, frequency: document.getElementsByName("frequency")[0].value},
                success: function (data) {
                    console.log("123");

                }
            });
        }else if (table === "GadgetsTo"){
            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json',
                data: {id: document.getElementsByName("id")[0].value, gadgets: document.getElementsByName("gadgets")[0].value, place: document.getElementsByName("place")[0].value, country: document.getElementsByName("country")[0].value},
                success: function (data) {
                    console.log("123");

                }
            });
        }else if (table === "ManDo"){
            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json',
                data: {id: document.getElementsByName("id")[0].value, job: document.getElementsByName("job")[0].value, country: document.getElementsByName("country")[0].value, company: document.getElementsByName("company")[0].value},
                success: function (data) {
                    console.log("123");

                }
            });
        }else if (table === "ManSee"){
            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json',
                data: {id: document.getElementsByName("id")[0].value, job: document.getElementsByName("job")[0].value, company: document.getElementsByName("company")[0].value},
                success: function (data) {
                    console.log("123");

                }
            });
        }else if (table === "People"){
            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json',
                data: {id : document.getElementsByName("id")[0].value, name: document.getElementsByName("name")[0].value, surname: document.getElementsByName("surname")[0].value},
                success: function (data) {
                    console.log("123");

                }
            });
        }else if (table === "PlaceCom"){
            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json',
                data: {id: document.getElementsByName("id")[0].value, company: document.getElementsByName("company")[0].value, x: document.getElementsByName("x")[0].value, y: document.getElementsByName("y")[0].value, z: document.getElementsByName("z")[0].value},
                success: function (data) {
                    console.log("123");

                }
            });
        }else if (table === "PlaceDo"){
            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json',
                data: {id: document.getElementsByName("id")[0].value, x: document.getElementsByName("x")[0].value, y: document.getElementsByName("y")[0].value, z: document.getElementsByName("z")[0].value},
                success: function (data) {
                    console.log("123");

                }
            });
        }else if (table === "TypesOfCompanies"){
            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json',
                data: {type: document.getElementsByName("type")[0].value, description: document.getElementsByName("description")[0].value},
                success: function (data) {
                    console.log("123");

                }
            });
        }else if (table === "TypesOfGadgets"){
            $.ajax({
                url: url,
                method: 'post',
                dataType: 'json',
                data: {type: document.getElementsByName("type")[0].value, description: document.getElementsByName("description")[0].value},
                success: function (data) {
                    console.log("123");

                }
            });
        }
    }

    function unhid(table) {
        if (table === "Company"){
            document.getElementsByName("id")[0].removeAttribute("hidden");
            document.getElementsByName("country")[0].removeAttribute("hidden");
            document.getElementsByName("function")[0].removeAttribute("hidden");
            document.getElementsByName("name")[0].removeAttribute("hidden");
            document.getElementsByName("type")[0].removeAttribute("hidden");
        }else if (table === "Country"){
            document.getElementsByName("country")[0].removeAttribute("hidden");
            document.getElementsByName("danger")[0].removeAttribute("hidden");
        }else if (table === "GadgetsFrom"){
            document.getElementsByName("id")[0].removeAttribute("hidden");
            document.getElementsByName("model")[0].removeAttribute("hidden");
            document.getElementsByName("manDo")[0].removeAttribute("hidden");
            document.getElementsByName("placeDo")[0].removeAttribute("hidden");
            document.getElementsByName("type")[0].removeAttribute("hidden");
            document.getElementsByName("frequency")[0].removeAttribute("hidden");
        }else if (table === "GadgetsTo"){
            document.getElementsByName("id")[0].removeAttribute("hidden");
            document.getElementsByName("gadgets")[0].removeAttribute("hidden");
            document.getElementsByName("place")[0].removeAttribute("hidden");
            document.getElementsByName("country")[0].removeAttribute("hidden");
        }else if (table === "ManDo"){
            document.getElementsByName("id")[0].removeAttribute("hidden");
            document.getElementsByName("job")[0].removeAttribute("hidden");
            document.getElementsByName("country")[0].removeAttribute("hidden");
            document.getElementsByName("company")[0].removeAttribute("hidden");
        }else if (table === "ManSee"){
            document.getElementsByName("id")[0].removeAttribute("hidden");
            document.getElementsByName("job")[0].removeAttribute("hidden");
            document.getElementsByName("company")[0].removeAttribute("hidden");
        }else if (table === "People"){
            document.getElementsByName("id")[0].removeAttribute("hidden");
            document.getElementsByName("name")[0].removeAttribute("hidden");
            document.getElementsByName("surname")[0].removeAttribute("hidden");
        }else if (table === "PlaceCom"){
            document.getElementsByName("id")[0].removeAttribute("hidden");
            document.getElementsByName("company")[0].removeAttribute("hidden");
            document.getElementsByName("x")[0].removeAttribute("hidden");
            document.getElementsByName("y")[0].removeAttribute("hidden");
            document.getElementsByName("z")[0].removeAttribute("hidden");
        }else if (table === "PlaceDo"){
            document.getElementsByName("id")[0].removeAttribute("hidden");
            document.getElementsByName("x")[0].removeAttribute("hidden");
            document.getElementsByName("y")[0].removeAttribute("hidden");
            document.getElementsByName("z")[0].removeAttribute("hidden");
        }else if (table === "TypesOfCompanies"){
            document.getElementsByName("type")[0].removeAttribute("hidden");
            document.getElementsByName("description")[0].removeAttribute("hidden");
        }else if (table === "TypesOfGadgets"){
            document.getElementsByName("type")[0].removeAttribute("hidden");
            document.getElementsByName("description")[0].removeAttribute("hidden");
        }
    }
let datt;
    function select() {
        let table = check();
        let url = "/Select/"+table;
        $.ajax({
            url: url,
            method: 'post',
            dataType: 'json',
            data: {},
            success: function(data){
                console.log(data);
                datt = data;
                let table = document.createElement("table");
                if (document.getElementById("result-table")) {
                    document.getElementById("result-table").remove();
                    document.getElementById("output_data").remove();
                }
                    table.id = "result-table";
                    let headers = document.createElement("tr");
                    headers.id = "table-headers";
                    let s = "";
                    for (k in data[0]){
                        s = s + "<th>" + k + "</th>";
                    }
                    headers.innerHTML = s;
                    let header = document.createElement("h1");
                    header.setAttribute("id", "output_data");
                    header.innerText = "Вывод данных";
                    document.getElementsByClassName("main")[1].appendChild(header);
                    document.getElementsByClassName("main")[1].appendChild(table);
                    table.appendChild(headers);
                for (let i=0; i<data.length; i++){
                    let s = "";
                    let row = document.createElement("tr");
                    for (k in data[0]){
                        let j;
                        for (j in data[i][k]){
                            break;
                        }
                        if (typeof data[i][k] === 'object'){
                            s = s + "<td>" + data[i][k][j] + "</td>"
                        }else {
                            s = s + "<td>" + data[i][k] + "</td>";
                        }
                    }
                    row.innerHTML = s;
                    table.appendChild(row);
                }
            }
        });
    }



</script>
</body>
</html>
