
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <title>SPY Objects</title>

    <link rel="stylesheet" href="index.css">
</head>
<body>
<span id="head-title">
           Шпионские устройства
        </span>
<img id="imge" src="f_logo.jpg" alt="logo"><br>
<span id="head-author">
            Работу выполнили Сторожева Дарья и Ярошевский Максим
        </span>
<br>


</div>
<div class="main">

    <form id="main-form"  method="get">
        <h1>Работа с данными</h1>
        <h1>Какую таблицу выбираем?</h1>

                <label>
                    <input type="radio" name="table" onclick="listner()" value="Человек_Установщик">Человек_Установщик<br>
                </label>
                <label>
                    <input type="radio" name="table" onclick="listner()" value="Устройства_Передатчики">Устройства_Передатчики<br>
                </label>
                    <label>
                    <input type="radio" name="table" onclick="listner()" value="Устройства_Приемники">Устройства_Приемники<br>
                    </label>

                <label>
                    <input type="radio" name="table" onclick="listner()" value="Место_Расположения">Место_Расположения<br>
                    </label>
                <label>
                    <input type="radio" name="table" onclick="listner()" value="Организация">Организация<br>
                </label>

                <label>
                    <input type="radio" name="table" onclick="listner()" value="Страны">Страны<br>
                </label>
                    <label>
                    <input type="radio" name="table" onclick="listner()" value="Наблюдаемый">Наблюдаемый<br>
                    </label>
                        <label>
                    <input type="radio" name="table" onclick="listner()" value="Типы_организаций">Типы_организаций<br>
                        </label>
                            <label>
                    <input type="radio" name="table" onclick="listner()" value="Место_установки">Место_установки<br>
                            </label>
                                <label>
                    <input type="radio" name="table" onclick="listner()" value="Типы_установленных_устройств">Типы_установленных_устройств<br>
                                </label>
        <button  class="index_button" type="submit" disabled name="submit">valj</button>

<!--<script>
    $radioButtons = document.getElementsByName("table");
    $radioButtons.change(function(){
        var anyRadioButtonHasValue = false;

        // iterate through all radio buttons
        $radioButtons.each(function(){
            if(this.checked){
                // indicate we found a radio button which has a value
                anyRadioButtonHasValue = true;

                // break out of each loop
                return false;
            }
        });

        // check if we found any radio button which has a value
        if(anyRadioButtonHasValue){
            // enable submit button.
            $("input[name='submit']").removeAttr("disabled");
        }
        else{
            // else is kind of redundant unless you somehow can clear the radio button value
            $("input[name='submit']").attr("disabled", "");
        }
    });
</script>-->





        <button class="index_button">Показать Данные</button>


        <button class="index_button">Добавить</button> <button class="index_button">Редактировать</button> <button class="index_button">Удалить</button>



    </form>

</div>

<div >
    <iframe name="result_frame" height="120" width="700" id="result_frame"
            allowtransparenc frameborder="no" scrolling="no" seamless style="display:none"></iframe>

</div>



</div>
<script>
    function listner(){
        //TODO: Make buttons not disable
        console.log("Listner works")
    }
</script>
</body>
</html>
