
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
    <title>SPY Objects</title>

    <link rel="stylesheet" href="index.css">
</head>
<body>
<span id="head-title">
           Шпионские устройства
        </span>
<img id="imge" src="f_logo.jpg" alt="logo"><br>
<span id="head-author">
            Работу выполнили Сторожева Дарья и Ярошевский Максим
        </span>
<br>


</div>
<div class="main">

    <form id="main-form"  method="get">
        <h1>Работа с данными</h1>
        <h1>Какую таблицу выбираем?</h1>

          <!--      <label>
                    <input type="radio" name="table" onclick="listner()" value="Человек_Установщик">Человек_Установщик<br>
                </label>
                <label>
                    <input type="radio" name="table" onclick="listner()" value="Устройства_Передатчики">Устройства_Передатчики<br>
                </label>
                    <label>
                    <input type="radio" name="table" onclick="listner()" value="Устройства_Приемники">Устройства_Приемники<br>
                    </label>

                <label>
                    <input type="radio" name="table" onclick="listner()" value="Место_Расположения">Место_Расположения<br>
                    </label>
                <label>
                    <input type="radio" name="table" onclick="listner()" value="Организация">Организация<br>
                </label>

                <label>
                    <input type="radio" name="table" onclick="listner()" value="Страны">Страны<br>
                </label>
                    <label>
                    <input type="radio" name="table" onclick="listner()" value="Наблюдаемый">Наблюдаемый<br>
                    </label>
                        <label>
                    <input type="radio" name="table" onclick="listner()" value="Типы_организаций">Типы_организаций<br>
                        </label>
                            <label>
                    <input type="radio" name="table" onclick="listner()" value="Место_установки">Место_установки<br>
                            </label>
                                <label>
                    <input type="radio" name="table" onclick="listner()" value="Типы_установленных_устройств">Типы_установленных_устройств<br>
                                </label>
        <button  class="index_button" type="submit" disabled name="submit">valj</button>-->

        <form id="the_form">
            <input type="submit" name="setter" value="Человек_Установщик">
            <input type="submit" name="output" value="Устройства_Передатчики">
            <input type="submit" name="input" value="Устройства_Приемники">
            <input type="submit" name="locatioin" value="Место_Расположения">
            <input type="submit" name="organization" value="Организация">
            <input type="submit" name="countries" value="Страны">
            <input type="submit" name="look_after" value="Наблюдаемый">
            <input type="submit" name="org_types" value="Типы_организаций">
            <input type="submit" name="set_place" value="Место_установки">
            <input type="submit" name="send" value="Типы_установленных_устройств">

        </form>

<!--<script>
    $radioButtons = document.getElementsByName("table");
    $radioButtons.change(function(){
        var anyRadioButtonHasValue = false;

        // iterate through all radio buttons
        $radioButtons.each(function(){
            if(this.checked){
                // indicate we found a radio button which has a value
                anyRadioButtonHasValue = true;

                // break out of each loop
                return false;
            }
        });

        // check if we found any radio button which has a value
        if(anyRadioButtonHasValue){
            // enable submit button.
            $("input[name='submit']").removeAttr("disabled");
        }
        else{
            // else is kind of redundant unless you somehow can clear the radio button value
            $("input[name='submit']").attr("disabled", "");
        }
    });
</script>-->





        <button class="index_button">Показать Данные</button>


        <button class="index_button">Добавить</button> <button class="index_button">Редактировать</button> <button class="index_button">Удалить</button>



    </form>

</div>

<div >
    <iframe name="result_frame" height="120" width="700" id="result_frame"
            allowtransparenc frameborder="no" scrolling="no" seamless style="display:none"></iframe>

</div>



</div>


<script>
    formUploader.prepareForm(document.getElementById('the_form'));
</script>


<script>
/*    function listner(){
        //TODO: Make buttons not disable
        console.log("Listner works")

    }*/
formUploader = {

    prepareForm: function(form){

        // Каждая значимая кнопка формы при клике должна создать одноименное hidden поле,
        // чтобы на сервер передалась информация о том, какая кнопка была кликнута
        var allFormFields = form.getElementsByTagName('input');
        for (var i=0; i<allFormFields.length; i++){
            if(allFormFields[i].type == 'submit' && allFormFields[i].name){
                allFormFields[i].onclick = function(){
                    formUploader.createHiddenField(this);
                }
            }
        }

        // Визуализируем форму как отправляемую на сервер на событии onsubmit
        // (в т.ч. делаем все кнопки неактивными)
        form.onsubmit = function(){
            formUploader.setFormLoading(form);
        }

        // Очищаем визуализацию формы (в т.ч. делаем все кнопки вновь активными)
        // при уходе со страницы - по глобальному событию onunload
        window.onunload = function(){
            formUploader.clearFormLoading(form)
        }
    },

    setFormLoading: function(form){
        // Создаем визуализацию загрузки формы и делаем все кнопки неактивными
        // disabled=true;
    },

    clearFormLoading: function(form){
        // Очищаем форму от визуализации загрузки и возвращаем кнопки в активное состояние
        // disabled=false;
    },

    createHiddenField: function(button){
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = button.name;
        input.value = button.value;
        button.parentNode.insertBefore(input, button);
    }
}
</script>



</body>
</html>
